---
Checks:          '*,-readability-named-parameter,-fuchsia-overloaded-operator,-fuchsia-default-arguments,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-hicpp-special-member-functions,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-owning-memory,-cert-err58-cpp,-google-runtime-member-string-references,-google-runtime-references'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*.h'
...
